<head>

  <script src="lib/jquery/jquery-3.2.1.min.js"></script>
  <script src="lib/jquery-tmpl/jquery.tmpl.min.js"></script>
  <script src="lib/moment/moment.js"></script>
  <script src="lib/onsenui/js/onsenui.min.js"></script>

  <link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css">
  <link rel="stylesheet" href="css/chat.css">

  <script src="javascripts/prolog-doctor.js"></script>
  <script src="javascripts/user.script.js"></script>

  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

  <script id="messageSystemTemplate" type="text/x-jQuery-tmpl">
  <div class="msg msg-system">
      <div class="message message-system">
          <span class="message-system-body">
              <span dir="auto" class="emojitext">
                  ${DateSummary}
              </span>
          </span>
      </div>
  </div>
  </script>

  <script id="messageInTemplate" type="text/x-jQuery-tmpl">
  <div class="msg">
      <span></span>
      <div class="message-in tail">
          <div>
              <span class="tail-container"></span>
              <div class="bubble bubble-text copyable-text">
                  <div class="author color-1 bubble-text-author">
                      <span dir="auto" class="emojitext author-name emoji-text-clickable">
                          ${AuthorFullName}
                      </span>
                  </div>
                  <div class="message-text">
                      <span dir="ltr" class="emojitext selectable-text invisible-space copyable-text">{{html Message}}</span>
                  </div>
                  <div class="message-meta text-clickable">
                      <span class="message-datetime">${MessageTime}</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </script>

  <script id="messageOutTemplate" type="text/x-jQuery-tmpl">
  <div class="msg">
      <span></span>
      <div class="message-out tail">
          <div>
              <span class="tail-container"></span>
              <div class="bubble bubble-text copyable-text">
                  <div class="author color-1 bubble-text-author">
                      <span dir="auto" class="emojitext author-name emoji-text-clickable">
                          ${AuthorFullName}
                      </span>
                  </div>
                  <div class="message-text">
                      <span dir="ltr" class="emojitext selectable-text invisible-space copyable-text">{{html Message}}</span>
                  </div>
                  <div class="message-meta text-clickable">
                      <span class="message-datetime">${MessageTime}</span>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </script>

  <script>

  $('document').ready(function(){
      doctor.dislayWelcomeMessage();
  });
  document.addEventListener('init', function(event) {
    var page = event.target;
    page.querySelector('#reply_yes').onclick = function() {
        doctor.replyMsgYes();
    };
    page.querySelector('#reply_no').onclick = function() {
        doctor.replyMsgNo();
    };
    page.querySelector('#reply_restart').onclick = function() {
        doctor.restartDiagnosis();
    };
  });

  </script>

</head>
<body>
    <ons-page>
      <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="right">
          <ons-toolbar-button>
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">
          My favourite doctor
        </div>
      </ons-toolbar>

        <div id="ChatMessageContainer">
            <!-- chat message goes here -->
        </div>

      <ons-bottom-toolbar>
          <div style="text-align: center; font-size: 30px; margin: 1px; color: #fff;">
              <ons-button id="reply_yes">Yes</ons-button>
              <ons-button id="reply_no">No</ons-button>
              <ons-button id="reply_restart">Restart</ons-button>
          </div>
      </ons-bottom-toolbar>

    </ons-page>
</body>
