/* .page__background { background-image: url('http://i.imgur.com/TnNwdvV.png'); } */
.page__background { background-image: url('/images/background.png'); }

#ChatMessageContainer {
  font-family: "Open Sans", sans-serif;
  padding-top: 25px;
}

.bubble-text-author {
    padding-bottom: 1px;
}

.author {
    font-size: 12.5px;
    font-weight: 600;
    height: 21px;
    line-height: 21px;
    display: -webkit-flex;
    display: flex;
}

.author-name {
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 1px;
}

.msg {
    margin-bottom: 12px;
    position: relative;
    padding-left: 9%;
    padding-right: 9%;
    display: block;
    clear: both;
    overflow: hidden;
}

.msg.msg-continuation {
  margin-bottom: 2px;
}

.msg-system {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.message-system {
    -webkit-flex: none;
    flex: none;
    max-width: 100% !important;
    text-align: center;
    font-size: 12.5px;
    line-height: 21px;
    display: inline-block;
    border-radius: 7.5px;
    color: rgba(69,90,100,0.95);
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);
    background-color: rgba(225,245,254,0.92);
    padding: 5px 12px 6px 12px;
    box-shadow: 0 1px 0.5px rgba(0,0,0,0.13);
}

.message-out {
  background-color: #dcf8c6;
  float: right;
}

.message-in {
    background-color: #fff;
    float: left;
}

.message-in, .message-out {
    border-radius: 7.5px;
    position: relative;
    box-shadow: 0 1px 0.5px rgba(0,0,0,0.13);
}

.tail.message-out {
    border-top-left-radius: 7.5px;
    border-top-right-radius: 0px;
}

.tail.message-in {
    border-top-left-radius: 0px;
    border-top-right-radius: 7.5px;
}

.tail.message-out .tail-container {
    content: '';
    position: absolute;
    right: -12px;
    top: 0px;
    width: 12px;
    height: 19px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.tail.message-in .tail-container {
    content: '';
    position: absolute;
    left: -12px;
    top: 0px;
    width: 12px;
    height: 19px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.message-out .tail-container {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAADAUExURUxpcXmHa4maet/4yA0aDRMTE8fhsgAAAAAAAMDXrCsxJeX/z1xzXIiYetPsvGBsVUdPPuH8zOH8zNDrvMvmtrrOpwAAAAAAABUVFRoaGtnyxLTMozQ+MMfftFBeSR8nH5aoh6q/mW9+ZN/4yMjhtRwlHAAAAIOWd+r/06C1kkNLOwsLC9z4xur/0+n/0t76x9v4xeL9y+b/z+j/0d/7yeH8yuX/zeD8ytz5xt76yOP/zeH+y+b/zuD8yd35xuf/0MY9jkkAAAAsdFJOUwBvd/ATDZIBAsMp/At/11c9yPbizHoICQwT4bY1ykkgjahl6s8bBYT6nUAWOLbtFAAAAIhJREFUKM/tzbUWwlAURNFBE9zdg0NecLf//yvKUJyUdDnl7HXXletXqmXl9wPbQ9JCcC+VJsOj2mDwovzj3osjHGNFEVxNRAj7UR1hlx+I4FbuC8HkZBE8OwnRxamdFsEmUxCCGdoI51RLBK9xVwTvjyMEbzlDMJMp7lqseNc8YNc6CGyF/a0vcmwhZbCG+kEAAAAASUVORK5CYII=);
}

.message-in .tail-container {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAACQUExURUxpccPDw9ra2m9vbwAAAAAAADExMf///wAAABoaGk9PT7q6uqurqwsLCycnJz4+PtDQ0JycnIyMjPf3915eXvz8/E9PT/39/RMTE4CAgAAAAJqamv////////r6+u/v7yUlJeXl5f///5ycnOXl5XNzc/Hx8f///xUVFf///+zs7P///+bm5gAAAM7Ozv///2fVensAAAAvdFJOUwCow1cBCCnqAhNAnY0WIDW2f2/hSeo99g1lBYT87vDXG8/6d8oL4sgM5szrkgl660OiZwAAAHRJREFUKM/ty7cSggAABNFVUQFzwizmjPz/39k4YuFWtm55bw7eHR6ny63+alnswT3/rIDzUSC7CrAziPYCJCsB+gbVkgDtVIDh+DsE9OTBpCtAbSBAZSEQNgWIygJ0RgJMDWYNAdYbAeKtAHODlkHIv997AkLqIVOXVU84AAAAAElFTkSuQmCC);
}

.bubble {
    padding: 6px 0 8px 0;
    padding-left: 9px;
    padding-right: 7px;
    min-width: 110px;
    box-sizing: border-box;
}

.message .message-text {
    cursor: text;
    white-space: pre-wrap;
    overflow: hidden;
}

.bubble-text .message-meta, .bubble-doc .message-meta, .bubble-placeholder .message-meta, .bubble-location .message-meta {
    bottom: 3px;
    right: 7px;
}

.text-clickable {
    cursor: pointer;
}

.message-meta {
    position: absolute;
    bottom: -5px;
    right: 0;
    font-size: 11px;
    color: rgba(0,0,0,0.45);
    line-height: 15px;
    height: 15px;
    white-space: nowrap;
}

.message-datetime {
    vertical-align: top;
    margin-top: 1px;
    display: inline-block;
}


.message-text::after {
    content: " \00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
    display: inline;
}


#OnssendMessageInput{
  width: 100%;
}
#OnssendMessageInput input {
  margin: 5px;
  height: 75%;
  width: 75%;
  padding-left: 5px;
  padding-right: 5px;
}

#OnssendMessageInput ons-button {
  padding-left: 5px;
  padding-right: 5px;
}
